<app-sidenav >
    <mat-progress-bar *ngIf="!(load)" mode="indeterminate" class="progress-bar"></mat-progress-bar>
        
            <mat-tab-group>
                
                <mat-tab label="Jornadas">
                    
                    <div class="container-fluid">
        
                        <div class="row my-1">
                            <div class="col-md-12">
                
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <button mat-icon-button>
                                        <mat-icon routerLink="/leagues">arrow_back</mat-icon>
                                    </button>
                                    <h4>Jornadas</h4>
                                    <button mat-fab color="primary" (click)="addJourneys()">
                                        <mat-icon aria-hidden="false" >
                                            add
                                        </mat-icon>
                                    </button>
            
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
        
                            <div class="col-md-4 mb-3" *ngFor="let journey of journeys">
                                <div style="border-radius: 4px 4px 0px 0px;
                                            -moz-border-radius: 4px 4px 0px 0px;
                                            -webkit-border-radius: 4px 4px 0px 0px;
                                            border: 1px solid #000;
                                            height: 50px;
                                            padding: 5px;
                                            display: flex;
                                            justify-content: space-between !important">
                                    <h4 style="padding-top: 5px;">{{ journey.name }}</h4>
                                    <button mat-mini-fab color="primary" (click)="onEditJourney(journey)">
                                        <mat-icon>create</mat-icon>
                                      </button>
                                </div>

                                <div style="border: 1px solid #000;
                                            height: 50px; display: flex;" >
                                    <div style="width: 33%;height: 100%; text-align: center;">
                                        <h6>Local</h6>
                                    </div>
                                    <div style="width: 34%;height: 100%; text-align: center; margin-top: 15px;">
                                        <h6>horario</h6>
                                    </div>
                                    <div style="width: 33%;height: 100%; text-align: center;">
                                        <h6>Visitane</h6>
                                    </div>
                                </div>
                                <button (click)="addGame(journey.id)" style="border: 1px solid #000; height: 50px; width: 100%; text-align: center">
    
                                        <mat-icon aria-hidden="false"  style="margin-top: 10px;">
                                            add
                                        </mat-icon>

                                </button>

    
                            </div>

    
                        </div>
    
                    </div>

                </mat-tab>
                
                <mat-tab label="Equipos">

                    <div class="container-fluid">
        
                        <div class="row my-1">
                            <div class="col-md-12">
                
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <button mat-icon-button>
                                        <mat-icon routerLink="/leagues">arrow_back</mat-icon>
                                    </button>
                                    <h4>Equipos</h4>
                                    <button mat-fab color="primary" (click)="addTeams()">
                                        <mat-icon aria-hidden="false" >
                                            add
                                        </mat-icon>
                                    </button>
            
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
        
                            <div class="col-md-4 mb-3" *ngFor="let team of teams">
    
                                <mat-card class="example-card">
                                        <mat-card-header>
                                            <mat-card-title>{{team.name}}</mat-card-title>
                                        </mat-card-header>
    
                                            <img mat-card-image class="size-img img-centrado" src="{{team.img}}" alt="Photo of a Shiba Inu"  styel="background-size: cover;">
                        
                                        <!--
                                        <button class="pull-right-container menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="onEdit(teacher)">
                                                <mat-icon>create</mat-icon>
                                                <span>Editar</span>
                                            </button>
                                            <button mat-menu-item >
                                                <mat-icon>not_interested</mat-icon>
                                                <span>Suspender</span>
                                            </button>
    
                                        </mat-menu>
                                        -->
                                        <mat-card-actions>
                                            <button mat-button (click)="onEdit(team)">EDITAR</button>
                                        </mat-card-actions>                                    
                                </mat-card>
    
                            </div>
    
                        </div>
    
                    </div>

                </mat-tab>

            </mat-tab-group>
      

            
</app-sidenav> 